/* line 1, src/app/shared/components/home/home.component.scss */
:host {
  width: 100%;
  height: 100%;
  background: black;
}

/* line 7, src/app/shared/components/home/home.component.scss */
.is--center {
  width: 256px;
  height: 256px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

/* line 15, src/app/shared/components/home/home.component.scss */
.is--center .app__icon {
  width: 100%;
  height: 100%;
}

/* line 18, src/app/shared/components/home/home.component.scss */
.is--center .app__icon img {
  width: 100%;
  height: 100%;
}
